.card-container{
    display:grid;
    grid-template-columns: repeat(4,minmax(300px , 1fr));
    grid-template-rows: auto auto auto auto;
    gap:2em;
    padding:20px;
    font-size: 16;
    grid-template-areas: 
    "box1 box1 box1 box1"
    "box2 box2 box2 box2"
    "box3 box3 box4 box4"
    "box5 box5 box5 box5";
    background-image: url(Contactus.jpg);
    background-repeat: no-repeat;
}
.cards{
    background: #232323;
    position: relative;
    padding: 10px;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0, 128, 120, 0.908);
    color:#eeeeee;  
    cursor: pointer;
    transition: 0.4s ease;
}
.cards:hover{
    transform: translateY(-10px);
    animation: Glow 0.9s infinite alternate;
}
@keyframes Glow{
    0%{
        box-shadow:0 0 20px rgb(0, 255, 195);
    }
    50%{
        box-shadow: 0 0 20px rgb(0, 255, 217);
    }
    100%{
        box-shadow: 0 0 20px rgb(0, 255, 166);
    }
}
.navlist{
    text-align:center;
    font-size: 16px;
    margin: 0 15px;
}
.navlist li{
    display:inline-block;
    margin: 0 15px;
}
.navlist a{
    color:#f0f0f0;
    text-decoration: underline;
    padding-bottom: 10px;
    padding-top: 5px;
    padding-left: 30px;
    padding-right: 30px;
}
 a:hover{
    transform: translateY(-4px);
    color:#006eff;
}
h1{
    font-size: 34px;
    color:#edecec;
    text-decoration: underline;
    text-align: center;
}
h2{
    font-size: 20px;
    color:#d5d5d5;
    text-decoration: underline;
    text-align: center;
}
p{
    text-align: justify;
    text-decoration: none;
    color:#d5d5d5;
}
li{
    list-style-type: disc;
}